#artist-search-form{
    display: block;
    padding: 2em 0;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

#artist-search-button {
    max-width: 80%;
    width: 12em;
    margin-top: 10px;
    color: black;
    font-size: 14px;
    background-color: #91e5ff;
    border-radius: 20px;
    border: 3px solid black;
}

#artist-search-button:hover{
    background-color: #1bbaea;
}
#artist-input{
    max-width: 80%;
    padding: 0.5em 8em;
    margin: 0 2em;
    /* width: 260px;
    height: 30px; */
}
/* 
#artist-search-form {
} */

::placeholder {
    color: rgb(76, 76, 76)
}