#sign-up-button {
    width: 170px;
}

#sign-up-form {
    margin-top: 130px;
    margin-left: 10px;
}

.sign-up-input {
    width: 240px;
    position: relative;
    left: -90px;
}

.sign-up-container {
    margin-bottom: 40px;
}

/* label {
    
} */